

*{
    box-sizing:border-box;
  }
  body,ul,li{
    padding:0;
    margin:0;
    position: relative;
  }
  #reload{
    position: fixed;
    bottom: 70px;
    right: 12px;
    z-index: 10;
  }

  h4:not(.orderOnWhatsApp) {
    margin-bottom: 113px;
    padding-bottom: 1px;
}
  .orderOnWhatsApp{
    margin-top: 138px;
    position: relative;
  }
  .orderOnWhatsApp:before {
    content: " ";
    border-bottom: 0.8pt solid #EFAC47;
    width: 55px;
    position: absolute;
    top: 22px;
    text-align: center;
    margin-left: 40px;
}
  h3{
      margin-bottom: 74px;
      letter-spacing: 5px;
  }
  .content {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: content;
  }
  .logo{
    background: url(https://morkhifarms.in/images/morkhilogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    padding: 35px;
    height: auto;
  }
  .eggsCategory,
  .milkCategory,
  .vegetablesCategory{
    height: 50px;
    padding:35px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .eggsCategory{
    background-image: url(https://morkhifarms.in/images/eggs.png);
    width:50px;
  }
  .milkCategory{
    background-image: url(https://morkhifarms.in/images/a2sahiwal.png);
    width: 48.56px;
  }
  .vegetablesCategory{
    background-image: url(https://morkhifarms.in/images/vege.png);
    width:50px;
  }
  ul li{
    list-style-type:none;
    margin-bottom:50px;
    font-size: 1rem;
  }
  button{
    padding:15px;
    min-width:14rem;
    border:2px #F8DD53 solid;
    border-radius:5px;
    background-color: #fff;
    position: relative;
    font-size: 1.3rem;
  }
 
  .header, .footer {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: header;
    text-align:center;
  }
  
  .footer {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: footer;
  }
  
  .wrapper {
          margin-top: 70px;
          font-family: 'Inria Sans', sans-serif;
          display: -ms-grid;
          display: grid;
          grid-gap: 10px;
          -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
          grid-template-columns: 1fr 1fr 1fr;
          -ms-grid-rows:auto 10px auto 10px auto;
              grid-template-areas:
          "header  header  header"
          "content content content"
          "footer  footer  footer";
          background-color: #fff;
          color: #fff;
      }
  
  
  .farms {
    background-color: #fff;
    color: #000;
    border-radius: 0px;
    padding: 0px;
    text-align: center;
  }
  .farmProduce{
    text-align:center;
    width:100vw;
    /* border-bottom:3px #fa0 solid; */
    display:-webkit-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            -webkit-flex-direction:column;
            flex-direction:column;
    position: relative;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            -webkit-justify-content:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            -webkit-align-items:center;
            align-items:center;
    margin-bottom:100px;
  }
  .header,
  .footer {
    background-color: rgb(255, 255, 255);
  }
  .header{
      height: 300px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              -webkit-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              -webkit-justify-content: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              -webkit-align-items: center;
              align-items: center;
  }
  .brandColor{
      color: #E29414;
  }
  .brandSubText{
      font-size: 1.1rem;
  }
  .upperCase{
    text-transform: uppercase;
  }
  .largeText{
      font-size: 1.5rem;
  }
  .brandText{
      color:#523b27;
  }
  .instruction{
      font-size: 0.7rem;
  }
  .feedback{
      color: black;
      background-color: #FFD184;
      width: 9rem;
      padding: 7px;
      font-size: 80%;
  }
  .footerText{
      font-size: 0.7rem;
      color: rgb(111, 111, 111);
  }
  .callUs{
    border:2px #523b27 solid;
  }
  .share{
    border:2px #0e9867 solid;
  }
  .callUs,.share{
    border-radius: 5px;
    border-radius: 5px;
  }
  .marginBottom{
    margin-bottom: 6.5rem;
  }
  /*Basic app layout ends*/

  /*order cart process*/
  .added{
    background-color:green;
    color:white;
    border-color:green; 
  }
  .hide{
    display:none
  }
  #order{
    margin-top:30px;
    text-align:center;
    padding:20px;
    position:relative
  }
  #order::before{
    content:"Edit Order Quantities on WhatsApp Screen";
    font-size:0.6rem;
    position:absolute;
    top:-11px;
    left:25px
  }
  #orderCart{
    /* border:0.5pt solid #666; */
    padding:7px;
    border-radius:5px;
    margin-top:10px
  }
  .waOrder{
    border-color: #393939;
    border-width: 2px;
    border-style: inset;
    font-size: 1.01rem;
  }
  #orderCart:hover{
    background-color:orange;
    cursor: pointer
  }
  #orderCart>a{
    text-decoration:none;
    color:black
  }
  .orderListItem{
    width:200px;
    padding:5px;
    display:-ms-grid;
    display:grid;
    text-align:left;
    -ms-grid-columns:1fr;
    grid-template-columns:1fr;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            -webkit-justify-content:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            -webkit-align-items:center;
            align-items:center;
    grid-gap:5px;
    font-size:1rem;
    text-transform:capitalize;
    border-bottom:1px solid #888;
    position: relative;
  }
  .orderListItem::before{
    content: "✓";
    position: absolute;
    left:-5px;
    color:green;
    font-size: 0.8rem;
    top:9px
  }
  .disabled{
    pointer-events:none;
    color:#777;
    border:1px dotted #888;
  }
  .outOfStock{
    pointer-events:none;
    color:#777;
    border:1px dotted #888;
    position: relative;
  }
  .outOfStock::before{
    position: absolute;
    content: "out of stock";
    font-size: 0.7rem;
    bottom: 2px;
    left:38%
  }
  .payMethods{
    margin-top: 10px;
    padding: 5px;
    position: relative;
  }
  .payMethods::after{
    content: "Cash On Delivery";
    position: absolute;
    right: 47px;
    bottom: -10px;
    color: inherit;
    font-size: 0.8rem;

  }
  .new::after{
    content: "🎗";
    color: rgb(103, 103, 103);
    font-size: 0.7rem;
    position: absolute;
    top:2px;
    right:5px;
  }
  .offer::after{
    content: "🎗price drop";
    color: #676767;
    font-size: 0.7rem;
    position: absolute;
    top:10px;
    left:5px;
  }
  a{
    -webkit-transition: background-color .25s ease,border-color .25s ease,color .25s ease;
    -o-transition: background-color .25s ease,border-color .25s ease,color .25s ease;
    transition: background-color .25s ease,border-color .25s ease,color .25s ease;
  }
  a > button.send-me-the-items {
    -webkit-animation: directly2020fromfarms 3.5s linear infinite;
            animation: directly2020fromfarms 3.5s linear infinite;
    background: -o-linear-gradient(173deg, #daa2ff15, #ffc4c421, #d3ca8331, #db975b2a, #ffffff33);
    background: linear-gradient(277deg, #daa2ff15, #ffc4c421, #d3ca8331, #db975b2a, #ffffff33);
    background-size: 1000% 100%;
    display: inline-block;
  }
    @-webkit-keyframes directly2020fromfarms {
      0% { background-position: 0% }
      50% { background-position: 50% }
      100% { background-position: 100% }
    }
    @keyframes directly2020fromfarms {
      0% { background-position: 0% }
      50% { background-position: 50% }
      100% { background-position: 100% }
    }
  
  
  
  a> button.send-me-the-items:hover {
    color: #fff;
    background: -o-linear-gradient(173deg, #333, #333);
    background: linear-gradient(277deg, #333, #333);
    background-size: 1000% 100%;
  }
  

/*font*/
/* latin-ext */
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Inria Sans Light'), local('InriaSans-Light'), url(https://fonts.gstatic.com/s/inriasans/v1/ptRPTiqXYfZMCOiVj9kQ3ELaPQJPqMQ0bX8JQA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Inria Sans Light'), local('InriaSans-Light'), url(https://fonts.gstatic.com/s/inriasans/v1/ptRPTiqXYfZMCOiVj9kQ3ELaPQxPqMQ0bX8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inria Sans Regular'), local('InriaSans-Regular'), url(https://fonts.gstatic.com/s/inriasans/v1/ptRMTiqXYfZMCOiVj9kQ1Of4KCFtpe4OZA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inria Sans Regular'), local('InriaSans-Regular'), url(https://fonts.gstatic.com/s/inriasans/v1/ptRMTiqXYfZMCOiVj9kQ1On4KCFtpe4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Inria Sans Bold'), local('InriaSans-Bold'), url(https://fonts.gstatic.com/s/inriasans/v1/ptRPTiqXYfZMCOiVj9kQ3FLdPQJPqMQ0bX8JQA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Inria Sans Bold'), local('InriaSans-Bold'), url(https://fonts.gstatic.com/s/inriasans/v1/ptRPTiqXYfZMCOiVj9kQ3FLdPQxPqMQ0bX8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}